@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  font-family: Ubuntu, sans-serif;
  background-color: #18294f;
  overflow: hidden;
  color: #fff;
}

header h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-top: .1em;
  margin-bottom: .5em;
}

nav ul {
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  color: #6c8fe0;
  white-space: nowrap; /* How white space in the element is handled, text will not wrap to the next line using nowrap */
}

li {
  list-style-type: none;
  padding-bottom: 1.15em;
  margin-left: -2em;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
    font-family: Ubuntu, sans-serif;
  }

  header {
    background-color: #18294f;
    padding: 0;
  }

  li {
    margin-left: .5em;
  }

  li:nth-child(odd) {
    float: left;
  }

  li:nth-child(even) {
    margin-left: 11em;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    font-family: Ubuntu, sans-serif;
  }

  header {
    background-color: #18294f;
  }

  h1 {
    margin: 0;
  }

  li {
    padding-right: 1.25em;
    padding-bottom: .75em;
    padding-top: .75em;
  }

  li:nth-child(even) {
    float: left;
    margin: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
    font-family: Ubuntu, sans-serif;
  }

  header {
    background-color: #18294f;
  }

  h1 {
    float: left;
    margin: .9rem;
    width: 25%;
  }

  li {
    float: right;
    padding-bottom: 0;
    padding-top: 0;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
    font-family: Ubuntu, sans-serif;
  }

  header {
    background-color: #18294f;
  }

  h1 {
    font-size: 2rem;
    float: left;
    width: 50%;
  }

}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
  padding: .75rem;
}
